<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assets</key>
	<array>
		<dict>
			<key>kind</key>
			<string>software-package</string>
			<key>url</key>
			<string>KiaRedMembers.ipa</string>
		</dict>
	</array>
	<key></key>
	<dict>
		<key>bundle-identifier</key>
		<string>KiaRedMembers.apk</string>
		<key>bundle-version</key>
		<string>2.0.1</string>
		<key>kind</key>
		<string>software</string>
		<key>title</key>
		<string>KiaRedMembers</string>
	</dict>
</dict>
</plist>
